body {
    height: 100%;
    width: 100%;
}

.content-center {
    display: flex;
    justify-content: center;
}

.login-shop-form {
    width: 400px;
}

.siimple-input {
    box-sizing: border-box;
}

.full-justification {
    display: flex;
    justify-content: space-between;
}
